<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/drewmyers">Drew</a>. A web developers who is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality. 
  </p>
  <br />
  <p>
    Drew is currently attending Vanderbilt Coding University Boot Camp to become a web developer. This program is fast pace and setting a foundation to be very successful in the future. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'drew.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Drew Myers</h2>
      <br />
      <p>
        Drew Myers is a student at working to become a web developer, who has always had a love for being on a computer. He is liking all of the steps needed to build a web page, and looks forward to obtaining a job soon. 
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />